<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      th:replace="~{fragments/layout-web :: layout (~{::main}, 'home')}">
<head>
    <title>Please Log In</title>
</head>
<body>
<main role="main" class="pb-3">
    <div class="row">
        <!--- menu left -->
        <div class="col-md-3 d-none d-md-block">
            <div class="card mb-2">
                <div class="card-header">
                    Thể loại âm nhạc
                </div>
                <div class="card-body p-0">
                    <div class="list-group list-group-flush" th:each="category : ${categories}">
                        <a th:href="@{/category/{id}(id=${category.id})}" class="list-group-item list-group-item-action" th:text="${category.name}"></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Album
                </div>
                <div class="card-body p-0">
                    <div class="list-group list-group-flush" th:each="album : ${albums}">
                        <a th:href="@{/album/{id}(id=${album.id})}" class="list-group-item list-group-item-action" th:text="${album.name}"></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Singer
                </div>
                <div class="card-body p-0">
                    <div class="list-group list-group-flush" th:each="singer : ${singers}">
                        <a th:href="@{/singer/{id}(id=${singer.id})}" class="list-group-item list-group-item-action" th:text="${singer.name}"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Moi cap nhat -->
        <div class="col-md-6">
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <ul class="list-group" th:object="${song}">
                        <li class="list-group-item">
                            <div class="position-relative">
                                <img th:src="'/files/' + ${song.image}" class="mr-3 rounded" width="85" alt="...">
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1" th:text="${song.name}"></h5>
                                <small th:text="${song.singer.name}"></small>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="position-relative">
                                <p>
                                    <audio controls>
                                        <source th:src="'/files/' + ${song.url}" src="horse.ogg" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="position-relative">
                                <p th:utext="${song.lyric}" class="mr-3 rounded" width="85" alt="...">
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="position-relative">
                                <p th:text="${song.status}" class="mr-3 rounded" width="85" alt="...">
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="position-relative">
                                <p th:text="${song.create_at}" class="mr-3 rounded" width="85" alt="...">
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- BXH -->
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Bảng xếp hạng
                    <button type="button" class="btn btn-success">Việt Nam</button>
                    <button type="button" class="btn btn-light">US/UK</button>
                    <button type="button" class="btn btn-light">Châu Á</button>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li class="list-group-item">
                            <img src="./assets/images/1.jpeg" class="mr-3 rounded" width="85" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Níu Duyên</h5>
                                <small>Lê Bảo Bình</small>
                            </div>
                            <div class="display-4 text-danger">01</div>
                        </li>
                        <li class="list-group-item">
                            <img src="./assets/images/2.jpeg" class="mr-3 rounded" width="85" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Trên Tình Bạn Dưới Tình Yêu</h5>
                                <small>Min</small>
                            </div>
                            <div class="display-4 text-danger">02</div>
                        </li>
                        <li class="list-group-item">
                            <img src="./assets/images/3.jpeg" class="mr-3 rounded" width="85" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Ngải Tình</h5>
                                <small>Thủy Tiên</small>
                            </div>
                            <div class="display-4 text-danger">03</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
